.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1140px;

  @media screen and (max-width: 1140px) {
    width: calc(100% - 60px);
    box-sizing: border-box;
    max-width: 100%;
    padding: 30px 0;
  }
}