.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  // max-height: calc(150px - 50px);
}

.logo {
}

// export const HeaderLogo = styled.div`
//   width: 412px;
//   height: 60px;
//   margin: 30px auto;
//   display: inline-block;
//   background-image: url(${logo});
//   background-repeat: no-repeat;
//   background-size: cover;
// `;
